.mainFormDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 420px;
    height: 515px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
}

.button_registr {
    background: #5AAC44;;
    width: 320px;
}

.div_a{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: #0052cc;
    font-size: 14px;
    text-decoration: none;
}

.input_email{
    width: 320px;
    border-radius: 5px;
}

.container-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 20;
    margin: auto;
    margin-top: 10px;
}

.line{
    border-bottom: 1px solid gray;
    width: 420px;
    margin: auto;
}

.img_logo{
    width: 170px;
    padding: 20px;

}

.div_p{
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    height: 20px;
    margin: auto;
    font-size: 13.5px;
    margin-bottom: 20px;
}

.select{
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 10px 0 45px 700px;
    justify-content: space-between;
    border: 1px solid rgb(183, 181, 181);
    opacity: 0.5;
}
